.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius:50%;
width:30%;
height:30%;
  
}
img:hover{
  opacity: 0.3;
}
.overlay {
 
  top: 25px;
   left: 100px;
border-radius:50%;
  opacity: 0;
  transition: .5s ease;
}

.text {
      position: absolute;
    top: 112px;
    left: 49px;
    width: 198px;
 height: 53px;
font-size:20px;
}
.col-sm-3:hover .overlay {
  opacity: 1;
}
h3
{
color:white;
font-size:25px;
}
h4
{
color:white;
}
p
{
color:white;
text-align:center;
font-family:Cooper Black;
font-size:50px;
}
body {
background-image: url("muki2.jpg");
  height: 100%; 
  background-repeat: no-repeat;
  background-size: cover;
}
